numpy~=1.23.5
pandas~=1.5.3
scikit-learn~=1.2.1
hmmlearn~=0.3.0
matplotlib~=3.7.0
scikit-fuzzy~=0.4.2
gradio~=4.17.0
networkx~=2.8.4
scipy~=1.10.0
xgboost~=2.0.3
tqdm~=4.64.1
shap~=0.44.1
scikit-optimize~=0.9.0
lightgbm~=4.3.0
torch~=2.2.0+cu118